#search, #plus, #account{
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

#search{
    border-radius: 20px;
    border-color: darkblue;
    border: 2px solid;
    color: rgb(15, 4, 4);
    background-color: rgb(235, 240, 255);
    width: 100px;
    font-weight: 900;
    
}

#plus{
    width: 40px;
    background-color: rgb(27, 27, 216);
    color: white;
    border: none;
    border-radius: 50%;
}

#account{
    border: 2px solid;
    box-shadow: 3px 3px black;
    border-color: black;
    background-color: rgb(0, 153, 255);
    color: white;
    width: 150px;
}